<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href=@Url.Content("~/Asset/css/style4.css")>
    <link rel="stylesheet" href="~/Asset/css/style4.css">
    <link rel="stylesheet" href=@Url.Content("~/Asset/css/style3.css")>
    <link rel="stylesheet" href="~/Asset/css/style3.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <!--  Add following stylesheets to <head> tag  -->
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" onerror="this.removeAttribute('data-rocket-async')"  />
    <title>Home</title>
</head>
<body>    
    <div class="wrapper">
        <div class="sidebar" style="margin-top:0">
            <h2>HELLO ADMIN</h2>

                <div class="tab">
                    @*@using (Html.BeginForm("Dashboard", "Admin", FormMethod.Post))
                    {
                            <button type="submit">
                                Dashboard
                            </button>
                    }*@
                    @using (Html.BeginForm("UserManager", "Admin", FormMethod.Post))
                    {
                    <button type="submit">
                        Manage Users
                    </button>
                    }
                    <div class="dropdown">
                      <button class="dropbtn">Report</button>
                          <div class="dropdown-content">
                              @using (Html.BeginForm("ManageCourtReport", "Admin", FormMethod.Post))
                               {
                                    <button type="submit">
                                       Court Report
                                    </button>
                               }
                              @using (Html.BeginForm("ManageUserReport", "Admin", FormMethod.Post))
                                {
                                        <button type="submit">
                                           Account Report
                                        </button>
                                }
                          </div>
                      </div>
                      @using (Html.BeginForm("Profile", "Admin", FormMethod.Post))
                        {
                        <button type="submit">
                            Profile
                        </button>
                        }
                
                
                        @using (Html.BeginForm("Logout", "Admin", FormMethod.Post))
                        {
                        <button  type="submit">
                            Logout
                        </button>
                        }

                </div>                               
        </div>
    
        <div class="main_content" style="margin:0">                        
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" src=@Url.Content("~/Asset/js/jquery-2.1.4.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Asset/lib/bootstrap/dist/js/bootstrap.bundle.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Asset/lib/bootstrap/dist/js/bootstrap.min.js")></script>

    @*<script type="text/javascript" src="~/Asset/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@

    <script type="text/javascript" src=@Url.Content("~/Asset/js/tab.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Asset/js/site.js")></script>
    
    <script type="text/javascript" src=@Url.Content("~/Asset/js/dashboard.js")></script>
    <script src="https://kit.fontawesome.com/yourcode.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

</body>
</html>